@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: Poppins, sans-serif;
}
.font-oswald {
  font-family: "Oswald", sans-serif;
}
input[type="checkbox"] {
  accent-color: #1a1b1c;
}
